  html{
    overflow: hidden;
  }

  body {
    margin: 0;
    font-family: monospace;
  }

  body:before {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1; 
    background:#D8D8D8;
    background-color: black;
  }
  
  .score-card {
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 8rem;
    font-weight: 700;
    opacity: 0.5;
  }
  
  .card {
    height: 150px;
    width: 400px;
    position: absolute;
    top: 298px;
    left: 568px;
    box-shadow: 0 3px 10px 4px rgb(182, 176, 176);
    background-image: linear-gradient(to right, #00b09b, #96c93d);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    color: lightgray;
    text-align: center;
  }
  
  #round {
    display: none;
  }
  
  #round button {
    height: 4rem;
    width: 8rem;
    padding: 3px;
    margin-bottom: 10px;
    background-color: darkslategrey;
    font-size: 1.1rem;
    font-family: monospace;
    font-weight: 600;
    color: lightgray;
    cursor: pointer;
  }
  
  #round button:hover {
    background-color: darkgoldenrod;
  }
  
  .rod {
    height: 25px;
    width: 250px;
    position: absolute;
    left: 643px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: lightgrey;
    border-radius: 20px;
  }
  
  #rod1 {
    top: 0;
    background-image: linear-gradient(to right, #FFD194, #D1913C);
  }
  
  #rod2 {
    bottom: 0px;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
  }
  
  #ball {
    position: absolute;
    left: 755px;
    bottom: 25px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    animation: spinBall 0.13s linear infinite;
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px violet,
        inset -6px 0 18px #0ff,
        inset 6px 0 30px violet,
        inset -6px 0 30px #0ff,
        0 0 18px #fff, -4px
        0 18px violet, 4px 0 18px #0ff;
  }

  @keyframes spinBall {
    100% {
        transform: rotate(360deg);
    }
}
  